@model ToDoItem

<form method="post" asp-controller="Home" asp-action="AddToDoItem" class="flex-container">
    <div class="wrap-input100 m-r-1">
        <input asp-for="Item" type="text" class="input100" placeholder="New Task...">
    </div>

    <button class="btn" type="submit">
        <span class="text-in-btn">Add</span>
    </button>
</form>

