@model ToDoItem


<div class="container">
    <div class="row">
        <div class="col">
            <input asp-for="Item" type="text" class="form-control" placeholder="New Task...">
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </div>
</div>
