
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}


* {
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Raleway-Regular, sans-serif;
    background-color: #ebebeb;
}

input {
    outline: none;
    border: none;
}

.input100 {
    font-family: Raleway-Medium;
    color: #555555;
    width: 100%;
    height: 2.5em;
    font-size: 1.2em;
    display: flex;
    padding: 0 1em 0 1em;
    border-radius: 10px;
}

.wrap-input100 {
    width: 100%;
    border: 0.02em solid #dad9d9;
    position: relative;
    border-radius: 10px;
    display: flex;
}

.btn {
    cursor: pointer;
    min-width: 10em;
    min-height: 3.6em;
    background-color: #333;
    border-radius: 25em;
    transition: all 0.4s;
    border: none;
}

.btn:hover {
    background-color: #57b846;
}

.text-in-btn {
    font-family: Raleway-Bold;
    font-size: 1.6em;
    color: #fff;
    text-decoration: none;
}

a {
    width: 100%;
    transition: all 0.4s;
    color: #555555;
}

    a:hover {
        color: #57b846;
        cursor: pointer;
    }

.cheched-a {
    border: 0.15em solid #57b846;
    border-radius: 0.5em;
    padding: 0.35em 1em;
}

.my-checkbox {
    width: 1.6em;
    height: 1.6em;
}

.icon, .icon-cancel {
    color: #333;
    transition: all 0.4s;
    font-size: 1.6em
}

    .icon-cancel:hover {
        color: #dc3545;
    }

    .icon:hover {
        color: #57b846;
    }

.todo-item {
    background: #ebebeb;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.item-label {
    font-size: 1.6em;
}

.to-center {
    margin-top: auto;
    margin-bottom: auto;
}

.width100 {
    width: 100%;
}


.flex-container {
    display: flex;
}

.m-3 {
    margin: 3em;
}

.m-r-1 {
    margin-right: 1em;
}

.m-l-1 {
    margin-left: 1em;
}

.p-r-1 {
    padding-right: 1em;
}

.p-l-5 {
    padding-left: 5em;
}

.p-r-5 {
    padding-right: 5em;
}

.p-t-3 {
    padding-top: 3em;
}

.p-t-1 {
    padding-top: 1em;
}

.p-b-3 {
    padding-bottom: 3em;
}

.p-t-5px {
    padding-top: 5px;
}

.m-b-1 {
    margin-bottom: 1em;
}

.p-l-80 {
    padding-left: 80px;
}

.p-r-80 {
    padding-right: 80px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #ebebeb;
}

.wrap-login100 {
    width: 45%;
    background: #fff;
    border-radius: 15px;
    display: flex;
}

.flex-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.login100-form-title {
    width: 100%;
    font-family: Raleway-Medium;
    font-size: 2em;
    color: #555555;
    text-transform: uppercase;
    text-align: left;
}

.txt1 {
    font-family: Raleway-SemiBold;
    font-size: 1em;
    color: #555555;
    text-transform: uppercase;
}

.text-danger {
    color: #dc3545 !important;
    font-size: 1em;
}

.white-panel {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 2em 2em;
}

ul {
    display: flex;
    list-style: none;
    padding: 0.5em 0.0em;
    margin: 0.0em 0.0em;
}

li {
    padding: 0.5em 1.1em 0.5em 0.0em;
    font-size: 1.2em;
}

.head-item-mode {
    flex-grow: 1;
}

.head-item-logo {
    flex-grow: 2;
}

.head-item-button {
    flex-grow: 3;
    justify-content: end;
    align-items: flex-end;
}

h1 {
    font-family: Raleway-SemiBold;
    margin: 0%;
    font-size: 2.5em;
}

.logo-container {
    font-size: 3em;
    text-align: center;
}


.header-padding {
    padding: 0.5em 0.0em;
}
