@model ToDoList.Models.ViewModels.CreateUserModel

@{
    Layout = "_Layout";
}

<div class="container-login100">
    <div class="wrap-login100 p-l-5 p-r-5 p-t-3 p-b-3">
        <form asp-controller="Registration" asp-action="Create" method="post" class="flex-sb flex-w">

            <span class="login100-form-title p-b-10">
                Create account
            </span>


            <span class="txt1 p-b-10">
                Login
            </span>

            @*Errors span*@
            <span asp-validation-for="Login" class="text-danger p-b-10"></span>
            @if (ViewData.ModelState["DuplicateUserName"] != null)
            {
                var duplicateUserNameErrorMessage = ViewData.ModelState["DuplicateUserName"].Errors[0].ErrorMessage;
                    <span class="text-danger p-b-10">@duplicateUserNameErrorMessage</span>
            }

            <div class="wrap-input100 m-b-25" data-validate="Login is required">
                <input asp-for="Login" class="input100">
            </div>

            
            <span class="txt1 p-b-10">
                Email
            </span>

            <span asp-validation-for="Email" class="text-danger p-b-10"></span>
            @if (ViewData.ModelState["DuplicateEmail"] != null)
            {
                var duplicateEmailErrorMessage = ViewData.ModelState["DuplicateEmail"].Errors[0].ErrorMessage;
                    <span class="text-danger p-b-10">@duplicateEmailErrorMessage</span>
            }

            <div class="wrap-input100 m-b-25" data-validate="Email is required">
                <input asp-for="Email" class="input100">
            </div>


            <span class="txt1 p-b-10">
                Password
            </span>
            
            <span asp-validation-for="Password" class="text-danger p-b-10"></span>

            <div class="wrap-input100 m-b-25" data-validate="Password is required">
                <input asp-for="Password" class="input100">
            </div>

            <span class="txt1 p-b-10">
                Confirm password
            </span>

            <span asp-validation-for="ConfirmedPassword" class="text-danger p-b-10"></span>
            
            <div class="wrap-input100 m-b-25" data-validate="Password is required">
                <input asp-for="ConfirmedPassword" class="input100">
            </div>

            <div>
                <button class="btn">
                    <span class="text-in-btn">Create</span>
                </button>
            </div>

        </form>
    </div>
</div>

