@model string

@{
    Layout = "_EnterLayout";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <span class="login100-form-title p-b-32 container">
                Success!
            </span>
            
            <div class="container">
                Your @Model account has been created
            </div>
            
            <div class="container">
                <a class="btn btn-secondary">Sign in</a>
            </div>

        </div>
    </div>
</div>
