@model string

@{
    Layout = "_Layout";
}

<div class="container-login100">
    <div class="wrap-login100 p-l-5 p-r-5 p-t-3 p-b-3">
        <div class="width100 flex-sb flex-w">

            <span class="login100-form-title">
                Success!
            </span>
        
            <div class="p-t-5px">
                Your @Model account has been created
            </div>
        
            <form class="width100 p-t-1" method="get" asp-controller="Account" asp-action="Login">
                <button class="btn">
                    <span class="text-in-btn">Sign in</span>
                </button>
            </form>

        </div>
    </div>
</div>
